@model APS_MVC.Models.Catalog

@{
    ViewData["Title"] = "Добавление продукта";
}

<h4>Добавить продукт:</h4>
<hr />
<div class="form-check">
    <form asp-action="AddProduct">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <form method="post">
                <div class="row"> Id: <input type="text" name="id" required /></div>
                <br/>
                <div class="row"> Имя: <input type="text" name="name" /></div>
                <br/>
            <input type="submit" value="Создать" class="btn btn-primary" />
            <br/>
            </form>
        </div>
    </form>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}