@{
    ViewData["Title"] = "Тестовое web приложение (MVC .Net Core)";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Данный проект доступен тут: <a href="https://github.com/doomkinn-geek/APS_MVC">GitHub репозиторий</a>.</p>
    <p></p>
</div>
